$header-color: #1d2538;
$header-font-color: white;
$blue: #134fe5;
$primary-font: 'Source Sans Pro', sans-serif;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

}