$header-color: #1d2538;
$header-font-color: white;
$blue: #134fe5;
$primary-font: 'Source Sans Pro', sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160px;
    background-color: $header-color;

    .logobar {
        display: flex;
        flex-direction: row;
        width: 60%;
        height: 50px;
        &__logo {
            width: 150px;
            height:52px;
        }
        &__list {
            display: flex;
            height: 50px;
            flex-direction: row;
            align-items: center;
            list-style: none;
            &--item {
                margin: 0 25px; 
                align-items: center;
                a {
                    color: $header-font-color;
                    text-decoration: none;
                    font-family: $primary-font;
                    font-weight: 700;
                    font-size: 1.6rem;
                }
            }
            .dropdown-icon {
                position: absolute;
                margin-left: 5px;
                width: 15px;
                height: 15px;
                background-image: url("/sort-down-arrow.png");
                background-size: cover;
                background-repeat: no-repeat;
                vertical-align: middle;
            }
        }

    }
    .searchbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 60%;
        height: 60px;
        margin-top: 15px;
        &__input {
            width: 880px;
            height: 65px;
            outline: none;
            border: none;
            border-radius: 2px;
            ::placeholder {
                font-family: $primary-font;
                font-size: 1.8rem;
                margin-left: 10px;
            }
        }
        &__options {
            width: 183px;
            height: 50px;
            display: flex;

            a {
                width: 50px;
                height: 50px;
                position: relative;
                margin-left: 10px;
                background-color: $blue;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;

                
                img {
                    text-align: center; 
                    width: 30px;
                    height: 30px;
                }
           

            }
            
        }

    }

    ::placeholder {
        font-family: $primary-font;
        font-size: 2.4rem;
        opacity: .33;
        //font-weight: 500;
        padding: 10px;
        margin-left: 10px;
    }
}