* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 160px;
  background-color: #1d2538;
}
.header .logobar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  height: 50px;
}
.header .logobar__logo {
  width: 150px;
  height: 52px;
}
.header .logobar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.header .logobar__list--item {
  margin: 0 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .logobar__list--item a {
  color: white;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}
.header .logobar__list .dropdown-icon {
  position: absolute;
  margin-left: 5px;
  width: 15px;
  height: 15px;
  background-image: url("/sort-down-arrow.png");
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.header .searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 60px;
  margin-top: 15px;
}
.header .searchbar__input {
  width: 880px;
  height: 65px;
  outline: none;
  border: none;
  border-radius: 2px;
}
.header .searchbar__input ::-webkit-input-placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  margin-left: 10px;
}
.header .searchbar__input ::-moz-placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  margin-left: 10px;
}
.header .searchbar__input :-ms-input-placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  margin-left: 10px;
}
.header .searchbar__input ::-ms-input-placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  margin-left: 10px;
}
.header .searchbar__input ::placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  margin-left: 10px;
}
.header .searchbar__options {
  width: 183px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .searchbar__options a {
  width: 50px;
  height: 50px;
  position: relative;
  margin-left: 10px;
  background-color: #134fe5;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .searchbar__options a img {
  text-align: center;
  width: 30px;
  height: 30px;
}
.header ::-webkit-input-placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.4rem;
  opacity: 0.33;
  padding: 10px;
  margin-left: 10px;
}
.header ::-moz-placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.4rem;
  opacity: 0.33;
  padding: 10px;
  margin-left: 10px;
}
.header :-ms-input-placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.4rem;
  opacity: 0.33;
  padding: 10px;
  margin-left: 10px;
}
.header ::-ms-input-placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.4rem;
  opacity: 0.33;
  padding: 10px;
  margin-left: 10px;
}
.header ::placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.4rem;
  opacity: 0.33;
  padding: 10px;
  margin-left: 10px;
}