-var alfabeto = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "x", "Y", "Z", "#", "NEW"]
-var sections

doctype html 
html 
    head    
        meta(charset="utf-8")
        meta(name="description" content="urban dictionary clone")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title urban dictionary
        link(rel="stylesheet" href="/css/style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700;900&display=swap" rel="stylesheet")
    body 
        header.header 
            section.logobar
                img.logobar__logo(src="logo.png", alt="Logo")
                ul.logobar__list
                    li.logobar__list--item.dropdown.bajar--alfabeto 
                        a(href="#") Browse
                        span.dropdown-icon
                        .menu--alfabeto 
                            ul
                                each letra in alfabeto
                                    li
                                        a(class="letra" href="#")=letra
                    li.logobar__list--item.dropdown.categories--drop
                        a(href="#") Categories
                        span.dropdown-icon
                        .categories--menu 
                            ul
                                li
                                    img.icon(src="graduation-icon.png")
                                    a(class="letra"
                                    href="#") College 
                                li
                                    img.icon
                                    a(class="letra" href="#") Food
                                li
                                    img.icon
                                    a(class="letra" href="#") Drugs
                                li
                                    img.icon
                                    a(class="letra" href="#") Internet
                                li
                                    img.icon
                                    a(class="letra" href="#") Music
                                li
                                    img.icon
                                    a(class="letra" href="#") Name
                                li
                                    img.icon
                                    a(class="letra" href="#") Religion
                                li
                                    img.icon
                                    a(class="letra" href="#") Sex
                                li
                                    img.icon
                                    a(class="letra" href="#") Sports
                                li
                                    img.icon
                                    a(class="letra" href="#") Work
                    li.logobar__list--item: a(href="#") Store
                    li.logobar__list--item: a(href="#") Blog

            section.searchbar
                input.searchbar__input(type="text" placeholder="Type any word...")
                .searchbar__options
                    a(href="#"): img(src="plus-icon.png", alt="plus")
                    a(href="#"): img(src="shuffle-icon.png", alt="shuffle")
                    a(href="#"): img(src="user-icon.png", alt="profile")

        main 
        footer
